* {
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #000000;
}

body {
    position: relative;
}

.text-item {
    font-size: 0.75rem;
    margin-bottom: 0; 
    color: white;
    z-index: 99999;
}

.text-item:hover {
    font-weight: bold;
    cursor: pointer;
}

/* FIXED TOP ROW */
.top-row {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    position: fixed; /* Changed to fixed */
    top: 4vh;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #000000;
    font-family: "Spline Sans Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 100;
}

.number {
    font-size: 0.65rem;
    margin-bottom: 0.3rem;
    font-weight: 50;
    opacity: 60%;
}

.label {
    font-size: 0.65rem;
    letter-spacing: 0.05em;
    font-weight: 50;
    opacity: 60%;
}

.content-wrapper {
    position: relative;
    min-height: 106vh;
    padding-top: 0;
    font-family: "Spline Sans Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 100;
}

.left-column .text-item:nth-child(2) {
    font-weight: bold;
}

.left-column .text-item:nth-child(2) {
    margin-top: 5.47rem;
}

.middle-column .text-item:nth-child(2) {
    margin-top: 5.47rem;
}

.middle-column .text-item:nth-child(3) {
    margin-top: 10.94rem;
}

.middle-column .text-item:nth-child(4) {
    margin-top: 7.57rem;
}

.lower-middle-column .text-item:nth-child(1) {
    margin-top: 2.04rem;
}

.lower-middle-column .text-item:nth-child(2) {
    margin-top: 13.04rem;
}

.center-column .text-item:nth-child(1) {
    margin-top: 0.58rem;
}

.far-right-column .text-item:nth-child(1) {
    margin-top: 6.04rem;
}

.right-column .text-item:nth-child(2) {
    margin-top: 6.04rem;
}

.left-column {
    position: absolute;
    left: 3rem;
    top: 38.1vh;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3rem;
}

.middle-column {
    position: absolute;
    left: 23.3%;
    top: 38.1vh;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 2rem;
}

.lower-middle-column {
    position: absolute;
    left: 42.9%;
    top: 58.75vh;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3rem;
}

.center-column {
    position: absolute;
    left: 66.4%;
    top: 51.5vh;
    transform: translateX(-50%);
}

.right-column {
    position: absolute;
    right: 4.5%;
    top: 73vh;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3rem;
}

.image img {
    height: 117.5vh;
    width: auto;
    position: fixed;
    z-index: 10;
    top: -12vh;
    left: 18vw;
}

.image_two img {
    width: 50vw;
    height: auto;
    display: block;
}

.image_two {
    position: relative;
    width: 100%;
    margin-top: 7vh;
    z-index: 1;
}

.subheading {
    padding-bottom: 2.3vh;
}

.heading {
    padding-bottom: 2.3vh;
}

.par-one {
    padding-bottom: 2.3vh;
}

.par-one-two {
    padding-bottom: 2.3vh;
}

.title-one {
    color: white;
    font-family: "american-scribe", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 38vh;
    line-height: 0.88;
    margin-left: -3vw;
}

.title-two {
    color: white;
    font-family: "american-scribe", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 38vh;
    line-height: 0.88;
}

a {
    text-decoration: none;
}
